html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

nav,
header,
main {
  /* border: 2px solid black; */
}

header {
  grid-area: 1 / 2 / 2 / 3;
}

nav {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #004e89;
  color: white;
  padding: 15px;
}

.nav-header {
  display: flex;
}

.nav-header .iconify {
  width: 35px;
  height: 35px;
}

.nav-header h3 {
  margin-left: 8px;
  align-self: center;
  font-weight: 600;
}

nav h4 {
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.home h4,
.settings h4 {
  display: inline-block;
}

.home {
  margin-top: 25px;
}

.settings {
  margin-top: 50px;
}

main {
  grid-area: 2 / 2;
  background-color: #e6e8e6;
}

input {
  background-color: #e6e8e6;
  border: none;
  width: 50%;
}

button {
  background-color: #004e89;
  color: white;
  border: none;
}

img {
  border-radius: 50%;
}
